node_modules
.pnpm-store
**/node_modules
**/dist
**/.expo
**/.expo-shared

.env
.env.*
!.env.docker.example

.git
.gitignore
attached_assets
uploads

*.log

.replit
replit.nix
.local
.cache
.upm

docker/nginx
